

body {
    background-color: pink;
    text-align: center;
    max-width: 900px;
    margin: auto;
    background-size: cover;
  } 

  
  h1{
    font-family: ZCOOL XiaoWei;
  }
  
  h3{
    font-family: Lato;
    color: rgb(52, 55, 231);
  }



  #text-box {
    visibility: hidden;
  }

  #submit-btn {
    visibility: hidden;
  }

  #resetbutton{
    visibility: hidden;
    float: left;;
  }
  
  #giveup{
    visibility: hidden;
    float: right;
    color: blueviolet;
    text-decoration-line: underline;
  }

  #displayscore{
    visibility: hidden;
  }
  
  #percentage{
    float: left;
  }

  #youranswerlist{
    column-count: 5;
  }

  #correctTitle{
    visibility: hidden;
  }


img {
  max-width: 900px;
  text-align: center;
  visibility: visible;
  margin: auto;
  position: relative;
  background-size: cover;
}


#continentScore{
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 100%;
}

#africaScore{
  background-color: black;
  color: white;
  position: absolute;
  margin: 0 auto;
  top: 69%; left: 48%;
}


#asiaScore{
  background-color: black;
  color: white;
  top: 48%; left: 62%;
  position: absolute;
}

#northScore{
  background-color: black;
  color: white;
  top: 50%; left: 25%;
  position: absolute;
}

#southScore{
  background-color: black;
  color: white;
  top: 80%; left: 30%;
  position: absolute;
}

#europeScore{
  background-color: black;
  color: white;
  top: 48%; left: 48%;
  position: absolute;
}

#oceaniaScore{
  background-color: black;
  color: white;
  top: 86%; left: 78%;
  position: absolute;
}

@media screen and (max-width: 870px) {
  img{
    max-width: 870px;
  }

  #oceaniaScore{
    top: 82%; left: 81%;
  }
  
}

@media screen and (max-width: 850px) {
  img{
    max-width: 850px;
  }

  #africaScore{
    top: 65%; left: 53%;
  }

  #asiaScore{
    top: 52%; left: 70%;
  }

  #northScore{
    top: 50%; left: 17%;
  }

  #southScore{
    top: 75%; left: 26%;
  }

  #europeScore{
    top: 49%; left: 50%;
  }
  #oceaniaScore{
    top: 83%; left: 85%;
  }
  
}

@media screen and (max-width: 800px) {
  img{
    max-width: 800px;
  }

  #oceaniaScore{
    top: 78%; left: 89%;
  }
}

@media screen and (max-width: 750px) {
  img{
    max-width: 750px;
  }

  #africaScore{
    top: 69%; left: 49%;
  }

  #asiaScore{
    top: 52%; left: 70%;
  }

  #northScore{
    top: 48%; left: 17%;
  }

  #southScore{
    top: 77%; left: 26%;
  }

  #europeScore{
    top: 48%; left: 50%;
  }

  #oceaniaScore{
    top: 82%; left: 87%;
  }
}  

@media screen and (max-width: 700px) {
  body{
    font-size: 12px;
  }
  img{
    max-width: 700px;
  }

  #africaScore{
    top: 65%; left: 50%;
  }
  #asiaScore{
    top: 42%; left: 70%;
  }
  #southScore{
    top: 67%; left: 26%;
  }
  #europeScore{
    top: 38%; left: 50%;
  }


  #oceaniaScore{
    top: 72%; left: 85%;
  }
}
  
@media screen and (max-width: 600px){
  #africaScore{
    visibility: hidden;
  }
  #asiaScore{
    visibility: hidden;
  }
  #southScore{
    visibility: hidden;
  }

  #northScore{
    visibility: hidden;
  }
  #europeScore{
    visibility: hidden;
  }

  #oceaniaScore{
    visibility: hidden;
  }
}
/* @media screen and (max-width: 600px) {
  body{
    font-size: 12px;
  }
  img{
    max-width: 600px;
  }

  #africaScore{
    top: 55%; left: 50%;
  }

  #oceaniaScore{
    top: 70%; left: 85%;
  }
  
} */

@media (max-width: 520px) {
  body{
    font-size: 10px;
  }
  img{
    max-width: 520px;
  }
  #northScore{
    top: 38%; left: 17%;
  }
  #southScore{
    top: 57%; left: 26%;
  }
  #oceaniaScore{
    top: 62%; left: 85%;
  }

}
@media screen and (max-width: 450px) {
  body{
    font-size: 9px;
  }

  img{
    max-width: 450px;
  }


  #africaScore{
    top: 47%; left: 53%;
  }

  #asiaScore{
    top: 35%; left: 76%;
  }

  #northScore{
    top: 35%; left: 20%;
  }

  #southScore{
    top: 55%; left: 27%;
  }
  #europeScore{
    top: 35%; left: 56%;
  }

  #oceaniaScore{
    top: 55%; left: 88%;
  }


  
}


@media (max-width: 390px) {
  body{
    font-size: 8px;
  }
  img{
    max-width: 390px;
  }
  #africaScore{
    visibility: hidden;
  }

  #asiaScore{
    visibility: hidden;
  }

  #northScore{
    visibility: hidden;
  }

  #southScore{
    visibility: hidden;
  }

  #europeScore{
    visibility: hidden;
  }
  #oceaniaScore{
    visibility: hidden;
  }

}

@media (max-width: 345px) {
  body{
    font-size: 6px;
  }
 
  #text-box{
    font-size: 6px;
  }

  #resetbutton{
    font-size: 6px
  }
  #start-btn{
    font-size: 6px;
  }
  #submit-btn{
    font-size: 6px;
  }

  img{
    max-width: 345px;
  }
  #africaScore{
    visibility: hidden;
  }

  #asiaScore{
    visibility: hidden;
  }

  #northScore{
    visibility: hidden;
  }

  #southScore{
    visibility: hidden;
  }

  #europeScore{
    visibility: hidden;
  }
  #oceaniaScore{
    visibility: hidden;
  }

}

#musicBox{
  background-color: lightskyblue;
  border: 1px black solid;
  display: inline;
  float: right;
}

#africa-box{
  background-color: yellow;
  border-radius: 30px;
  border: 3px white solid;
  color: black;
  visibility: hidden;
  padding: 10px;
  margin: 20px;
  
}

#asia-box{
  background-color: rgb(248, 160, 128);
  border-radius: 30px;
  border: 3px white solid;
  color: black;
  visibility: hidden;
  padding: 10px;
  margin: 20px;
}

#north-america-box{
  background-color: rgb(153, 228, 138);
  border-radius: 30px;
  border: 3px white solid;
  color: black;
  visibility: hidden;
  padding: 10px;
  margin: 20px;
}

#south-america-box{
  background-color: rgb(70, 201, 70);
  border-radius: 30px;
  border: 3px white solid;
  color: white;
  visibility: hidden;
  padding: 10px;
  margin: 20px;
}

#europe-box{
  background-color: rgb(245, 94, 94);
  border-radius: 30px;
  border: 3px white solid;
  color: white;
  visibility: hidden;
  padding: 10px;
  margin: 20px;

}

#oceania-box{
  background-color: rgb(231, 152, 231);
  border-radius: 30px;
  border: 3px white solid;
  color: white;
  visibility: hidden;
  padding: 10px;
  margin: 20px;
}